/Makefile
/aclocal.m4
/autom4te.cache
/compile
/config.log
/config.status
/configure
/depcomp
/freedom-ldscript-generator
/freedom-openocdcfg-generator
/freedom-makeattributes-generator
/freedom-zephyrdtsfixup-generator
*.o
/install-sh
/missing
*.swp
/.deps
/Makefile.in
/freedom-ldscript-generator-*.tar.gz
/test-driver
*.log
*.trs
/freedom-mee_header-generator
*.swo
freedom-mee_specs-generator
