/Makefile
/autom4te.cache
/config.log
/config.status
/freedom-ldscript-generator
/freedom-openocdcfg-generator
/freedom-makeattributes-generator
/freedom-zephyrdtsfixup-generator
*.o
*.swp
.deps
.dirstamp
/freedom-ldscript-generator-*.tar.gz
*.log
*.trs
/freedom-metal_header-generator
/freedom-bare_header-generator
*.swo
freedom-metal_specs-generator
